
#fast{
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#inline-header {
    margin-bottom: 10px;
}

#special-jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer-jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}
